{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>
        {% block title %}
        {% endblock title %}
    </title>

    {% include 'snippets/styles.html' %}
</head>

<body id="page-top">

    <!--Navbar-->
    {% block navbar %}
    {% endblock navbar %}

    {% block header %}
    {% endblock header %}

    {% block content %}
    {% endblock content %}

    <!--Footer-->
    {% include 'snippets/footer.html' %}

    {% include 'snippets/scripts.html' %}
</body>

</html>